html, body {
  height: 100%;
}
.fill {
  min-height: 100%;
  height: 100%;
  background-color: rgba(158, 158, 158, 0.12);
}
.height-five {
  height: 5%;
}
.height-ten {
  height: 10%;
}
.height-fifteen {
  height: 15%;
}
.height-twenty {
  height: 20%;
}
.height-thirty {
  height: 30%;
}