html, body {
  height: 100%;
}
.fill {
  min-height: 100%;
  height: 100%;
}
.height-five {
  height: 5%;
}
.height-ten {
  height: 10%;
}
.height-fifteen {
  height: 15%;
}
.height-twenty {
  height: 20%;
}
.height-thirty {
  height: 30%;
}
.red {
  color: red;
}
.loading {
  font-family: sans-serif !important;
  text-align: center !important;
  margin-top: 20px;
}
#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #5BC0DE;
    background-image: url("/assets/img/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}